<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <h3>Please lets be guided!</h3>
      <p>
        Visit the correct URL <a href="https://localhost:3000">here</a>.
      </p>
    </div>
  </section>
</body>
</html>
